main{
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;
}
.logo{
    width: 5vw;
    margin-right: 10px;
}
.navclass{
    background: rgb(219, 149, 152);
}
.home-sec{
    margin-top: 100px;
}
.television{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.laptop{
    width: 50vw;
    height: 80vh;
}
.laptop1{
    width: 50vw;
    height: 76.40vh;
}
.tv-info a{
text-decoration: none;
background: linear-gradient(red, rgb(151, 1, 1));
padding: 5px 10px;
border-radius: 5px;
color: white;
font-size: 20px;
font-weight: 500;
}
.amount{
    color: rgb(192, 3, 3);
}
.tv-info{
    margin-top: 50px;
    margin-left: 20px;
}
.background{
    background-color: rgb(235, 175, 175);
    border-radius: 10px;
}
.phone{
    width: 40vw;
}

.catagories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 97px;
}
.product{
    background: rgb(230, 171, 171);
}
.watch,
.shoes,
.bags{
    display: flex;
    justify-content: space-around;
    width: 286px;
    border-radius: 7px;
    align-items: center;
}
.watch{
    background: linear-gradient(rgb(252, 57, 89), rgb(182, 2, 32));
}
.shoes{
    background: linear-gradient(rgb(0, 255, 191), rgb(0, 121, 143));
}
.bags{
    background: linear-gradient(rgb(255, 153, 0), gold);
}
.clock{
    width: 5vw;
}
.clock1{
    width: 12vw;
}

.product-info{
    display: flex;
    justify-content: space-between;
}
.product-info a{
    text-decoration: none;
    color: rgb(182, 103, 0);
    font-weight: 400;
    margin-right: 65px;
}
.shoe-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.shoe-product2{
    width: 286px;
    height: 250px;
}
.shoe-product3{
    height: 225px;
}
.bag-women{
    height: 250px; 
}
/* .shoe-product,
.shoe-product1{
    height: 250px;
} */
.card-body a{
    text-decoration: none;
background: linear-gradient(red, rgb(151, 1, 1));
padding: 5px 10px;
border-radius: 5px;
color: white;
font-size: 12px;
font-weight: 500;
}
.email{
    background: rgb(228, 171, 171);
    height: 50vh;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.touch{
    border: none;
    background: white;
    padding: 10px 18px;
    border-radius: 5px 0px 0px 5px;
}
.send{
    border: none;
    background:linear-gradient(red, rgb(155, 1, 1));
    padding: 10px 18px;
    border-radius: 0px 5px 5px 0px;
    color: white;
}
footer{
    background: rgb(105, 3, 3);
    height: 30vh;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.links a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}
.hrstyle{
    height: 2px;
    color: white;
}
/* media query for mobile start */
@media screen and (max-width: 767px){
    .navbar{
        width: 100%;
        position: fixed;
    }
    .home-sec{
        width: 100%;
    }
    .television{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
    .tv-info{
        text-align: center;
    }
    .laptop1 img{
       width: 90vw;
    }
    .laptop img{
        width: 90vw;
     }
     .laptop{
        width: 50vw;
        height: 60vh;
    }
    .laptop1{
        width: 50vw;
        height: 70.40vh;
    }
    .cat-sec{
        width: 100%;
    }
    .cata h3{
        text-align: center;
    }
    .catagories{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 23px;
    }
    .watch,
.shoes,
.bags{
    display: flex;
    justify-content: space-around;
    width: 286px;
    height: 10vh;
    border-radius: 7px;
    align-items: center;
    margin: 5px 0px;
}
.clock{
    width: 15vw;
}
.clock1{
    width: 27vw;
}
    .product{
        width: 100%;
    }
    .shoe-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
    }
}
/* media query for tab start */
@media screen and (min-width: 768px) and (max-width:992px){
    .navbar{
        width: 100%;
        position: fixed;
    }
    .container{
        padding: 0;
    }
    .logo{
        width: 5vw;
        margin-right: 0px;
    }
    .home-sec{
        width: 100%;
    }
    .television{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }
    .cat-sec{
        width: 100%;
    }
    .catagories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .cata h3{
        text-align: center;
    }
    .watch,
    .shoes,
    .bags{
        display: flex;
        justify-content: space-around;
        width: 286px;
        height: 10vh;
        border-radius: 7px;
        align-items: center;
        margin: 5px 0px;
    }
    .clock{
        width: 10vw;
    }
    .clock1{
        width: 20vw;
    }
    .product{
        width: 100%;
    }
    .shoe-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;
    }
    .touch{
        width: 100%;
    }
    .con-sec{
        width: 100%;
    }
    .laptop1 img{
        width: 50vw;
     }
     .laptop img{
         width: 50vw;
      }
      .laptop{
         width: 50vw;
         height: 65vh;
     }
     .laptop1{
         width: 50vw;
         height: 62.70vh;
     }
}